name: test

on:
  pull_request:

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_NOLOGO: true
  NUGET_XMLDOC_MODE: skip
  WORKFLOW_BUILD_SLN: SourceExpander.slnx

jobs:
  format:
    uses: kzrnm/dotnet-actions/.github/workflows/format.yml@v2
    with:
      target: SourceExpander.slnx
      dotnet-version: |
        10.0.x
  test:
    uses: kzrnm/dotnet-actions/.github/workflows/unittest-mtp.yml@v2
    with:
      solution: SourceExpander.slnx
      dotnet-version: |
        10.0.x
      
