name: test

on:
  pull_request:

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_NOLOGO: true
  NUGET_XMLDOC_MODE: skip
  WORKFLOW_BUILD_SLN: SourceExpander.slnx

jobs:
  format:
    uses: kzrnm/dotnet-actions/.github/workflows/format.yml@v2
    with:
      target: SourceExpander.slnx
      dotnet-version: |
        8.0.x
        9.0.x
      # Use 9.0.x for .slnx projects
  test:
    uses: kzrnm/dotnet-actions/.github/workflows/unittest.yml@v2
    with:
      target: SourceExpander.slnx
      dotnet-version: |
        8.0.x
        9.0.x
      # Use 9.0.x for .slnx projects
      test-logger: GitHubActions
